WMS_01102020/WMS_Deploy_01102020.json
[{"id":"5b89fe2a.8dd8f","type":"function","z":"25e290b0.36562","name":"Check single or multiple products","func":"node.warn(\"Testtt\");\nvar len = msg.payload.data.length;\n\n//var url = \"http://10.116.41.70:5050/agv-web/v1.0/products\";\n\n//var url = \"http://localhost:1880/test\";\n\nvar url = global.get(\"post_products\");\n\nif(msg.actionName == \"Insert\" ){\n    if (len == 1) {\n    var insertId = msg.payload.data[0][\"jan-code\"];\n    msg.url = `${url}`;\n    return [msg,,,,,];\n    }else {\n         msg.url = url;\n         return [,msg,,,,];\n    }\n    \n}else if(msg.actionName == \"Update\"){\n    if (len == 1) {\n    var updateId = msg.payload.data[0][\"jan-code\"];\n    msg.url = `${url}/${updateId}`;\n    return [,,msg,,,];\n    } else {\n         msg.url = url;\n         return [,,,msg,,];\n    }\n    \n}else if(msg.actionName == \"Delete\"){\n    if (len == 1) {\n    var deleteId = msg.payload.data[0][\"jan-code\"];\n    msg.url = `${url}/${deleteId}`;\n    return [,,,,msg,];\n    } else {\n         msg.url = url;\n         return [,,,,,msg];\n    }\n}\n\n","outputs":6,"noerr":0,"initialize":"","finalize":"","x":180,"y":580,"wires":[["4c0072d7.94d91c","e599a697.311cc8"],["e50e3168.39c6","e599a697.311cc8"],["6030cdb7.731b84","e599a697.311cc8"],["bc991ba.ce7bae8","e599a697.311cc8"],["b636835c.46123","e599a697.311cc8"],["3636edd9.e0a9b2","e599a697.311cc8"]]},{"id":"e2181142.f3ec4","type":"http in","z":"25e290b0.36562","name":"Server: Picking Result","url":"/v1.0/outbound-result","method":"post","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["82f12629.9149c8","fa413cbd.6df7d"]]},{"id":"a494a43a.659a98","type":"http response","z":"25e290b0.36562","name":"Response","statusCode":"","headers":{},"x":920,"y":80,"wires":[]},{"id":"623c8599.d554ac","type":"http request","z":"25e290b0.36562","name":"HTTP Client: Send Picking Order List (outbound)","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":560,"y":1200,"wires":[["563e5170.c714d","8d56939a.39b59","b19e4c1.9aaf4b"]]},{"id":"96716f9c.40339","type":"inject","z":"25e290b0.36562","name":"Input picking order list","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[{\"key-no\":\"KEY000000000002\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000003\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000004\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000005\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000006\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000007\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000008\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000009\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY0000000000010\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY0000000000011\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY0000000000012\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY0000000000013\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"}]}","payloadType":"json","x":168,"y":1200,"wires":[["623c8599.d554ac"]]},{"id":"34aca782.8dc258","type":"comment","z":"25e290b0.36562","name":"SERVER: picking result","info":"","x":120,"y":40,"wires":[]},{"id":"d95236f7.460cd8","type":"comment","z":"25e290b0.36562","name":"CLIENT: PRODUCT LIST","info":"","x":170,"y":509,"wires":[]},{"id":"a573d691.74ee78","type":"comment","z":"25e290b0.36562","name":"CLIENT: PICKING ORDER LIST","info":"","x":510,"y":1160,"wires":[]},{"id":"9c31edc0.84354","type":"function","z":"25e290b0.36562","name":"Handle exception ","func":"/******************************************************************************\n * @brief   Handle exception to show on logview\n * @return  The exception\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nvar err = \"\";\nif( msg.fileType == \"Product\"){\n    \n    if (!msg.payload)\n    {\n        node.warn(\"Send send product data: Cannot POST\", msg);\n        err=\"The response data from server is empty\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('Cannot POST') )\n    {\n        node.warn(\"Send send product data: Cannot POST\", msg);\n        err=\"Send product data: Cannot POST\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file') )\n    {\n        node.warn(\"Empty file\", msg);\n        err=\"There’s no data in file\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file') )\n    {\n        node.warn(\"Empty file\", msg);\n        err=\"Wrong file format\";\n    }\n    node.warn(\"msg.payload:   \" + msg.payload);\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file_content') )\n    {\n        node.warn(\"Empty file content\", msg);\n        err=\"There’s no product data in file\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_extension') )\n    {\n        node.warn(\"Wrong file extension\", msg);\n        err=\"The selected file format is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('not_select_file') )\n    {\n        node.warn(\"Not select file\", msg);\n        err=\"Product data is not selected\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('data_invalid') )\n    {\n        node.warn(\"Data of file invalid\", msg);\n        err=\"Product data is wrong. Please check and correct it\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file_path') )\n    {\n        node.warn(\"Wrong file path\", msg);\n        err=\"The file path is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('no_data_item') )\n    {\n        node.warn(\"No data item\", msg);\n        err=\"There’s no product data in file\";\n    }\n    \n    if(msg.statusCode != 200 && msg.statusCode ){\n        //node.warn(\"error 404\", msg);\n        err=`AGV Picking System cannot process the product data request. The response with status code is ${msg.statusCode}. Please check and correct it`;\n    }\n    \n    // if(msg.statusCode == 404 ){\n    //     node.warn(\"error 404\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 404. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 403 ){\n    //     node.warn(\"error 403\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 403. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 405 ){\n    //     node.warn(\"error 405\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 405. Please check and correct it\";\n    // }\n    \n    \n    // if(msg.statusCode == 400 ){\n    //     node.warn(\"error 400\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 400. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 500 ){\n    //     node.warn(\"error 500\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 500. Please check and correct it\";\n    // }\n    \n    if(msg.statusCode == \"EHOSTUNREACH\" ){\n        node.warn(\"Lost connect to AGV Picking System\", msg);\n        err=\"The connection with AGV Picking System is not available. Please check and correct it\";\n    }\n    \n    if(msg.statusCode == \"ESOCKETTIMEDOUT\" ){\n        node.warn(\"No response from server\", msg);\n        err=\"No response from server. Please check and correct it\";\n    }\n    \n    \n}else if (msg.fileType == \"Picking\"){\n    if ( typeof msg.payload ==='string' && msg.payload.includes('Cannot POST') )\n    {\n        node.warn(\"Send picking order list: Cannot POST\", msg);\n        err=\"Send picking order list: Cannot POST\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('not_select_file') )\n    {\n        node.warn(\"Not select file\", msg);\n        err=\"Picking order list is not selected\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file') )\n    {\n        node.warn(\"Empty file\", msg);\n        err=\"There’s no picking order in file\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file') )\n    {\n        node.warn(\"Wrong file\", msg);\n        err=\"The selected file format is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file_content') )\n    {\n        node.warn(\"Empty file content\", msg);\n        err=\"No picking order is chosen\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_extension') )\n    {\n        node.warn(\"Wrong file extension\", msg);\n        err=\"The selected file format is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('data_invalid') )\n    {\n        node.warn(\"Data of file invalid\", msg);\n        err=\"Picking order is wrong. Please check and correct it\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file_path') )\n    {\n        node.warn(\"Wrong file path\", msg);\n        err=\"The file path is wrong\";\n    }\n    \n    if(msg.statusCode != 200 && msg.statusCode){\n        //node.warn(\"error 404\", msg);\n        err=`AGV Picking System cannot process the picking order list data request. The response with status code is ${msg.statusCode}. Please check and correct it`;\n    }\n    \n    \n    // if(msg.statusCode == 404 ){\n    //     node.warn(\"error 404\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 404. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 403 ){\n    //     node.warn(\"error 403\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 403. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 400 ){\n    //     node.warn(\"error 400\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 400. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 500 ){\n    //     node.warn(\"error 500\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 500. Please check and correct it\";\n    // }\n    \n    if(msg.statusCode == \"EHOSTUNREACH\" ){\n        node.warn(\"Lost connect to AGV Picking System\", msg);\n        err=\"The connection with AGV Picking System is not available. Please check and correct it\";\n    }\n    \n    if(msg.statusCode == \"ESOCKETTIMEDOUT\" ){\n        node.warn(\"No response from server\", msg);\n        err=\"No response from server. Please check and correct it\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('no_data_item') )\n    {\n        node.warn(\"No data item\", msg);\n        err=\"There’s no picking order in file\";\n    }    \n   \n}else if(msg.fileType == \"Stowing\"){\n    if ( typeof msg.payload ==='string' && msg.payload.includes('Cannot POST') )\n    {\n        node.warn(\"Send stowing order list: Cannot POST\", msg);\n        err=\"Send stowing order list: Cannot POST\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('not_select_file') )\n    {\n        node.warn(\"Not select file\", msg);\n        err=\"Stowing order list is not selected\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file') )\n    {\n        node.warn(\"Empty file\", msg);\n        err=\"There’s no stowing order in file\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file') )\n    {\n        node.warn(\"Wrong file\", msg);\n        err=\"The selected file format is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file_content') )\n    {\n        node.warn(\"Empty file content\", msg);\n        err=\"No stowing order is chosen\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_extension') )\n    {\n        node.warn(\"Wrong file extension\", msg);\n        err=\"The selected file format is wrong\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('data_invalid') )\n    {\n        node.warn(\"Data of file invalid\", msg);\n        err=\"Stowing order is wrong. Please check and correct it\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file_path') )\n    {\n        node.warn(\"Wrong file path\", msg);\n        err=\"The file path is wrong\";\n    }\n    \n    if(msg.statusCode != 200 && msg.statusCode){\n        //node.warn(\"error 404\", msg);\n        err=`AGV Picking System cannot process the stowing order list data request. The response with status code is ${msg.statusCode}. Please check and correct it`;\n    }\n    \n    // if(msg.statusCode == 404 ){\n    //     node.warn(\"error 404\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 404. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 403 ){\n    //     node.warn(\"error 403\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 403. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 400 ){\n    //     node.warn(\"error 400\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 400. Please check and correct it\";\n    // }\n    \n    // if(msg.statusCode == 500 ){\n    //     node.warn(\"error 500\", msg);\n    //     err=\"AGV Picking System cannot process the product data request. The response with status code is 500. Please check and correct it\";\n    // }\n    \n    if(msg.statusCode == \"EHOSTUNREACH\" ){\n        node.warn(\"Lost connect to AGV Picking System\", msg);\n        err=\"The connection with AGV Picking System is not available. Please check and correct it\";\n    }\n    \n    if(msg.statusCode == \"ESOCKETTIMEDOUT\" ){\n        node.warn(\"No response from server\", msg);\n        err=\"No response from server. Please check and correct it\";\n    }\n    \n    if ( typeof msg.payload ==='string' && msg.payload.includes('no_data_item') )\n    {\n        node.warn(\"No data item\", msg);\n        err=\"There’s no stowing order in file\";\n    }   \n\n}else{\n    //do_something\n}\n\n\n\n\n\n\n\n\n\nvar list_Ex_Result = [];\nif(!global.get(\"list_Ex_Result\")){\n    global.set(\"list_Ex_Result\",list_Ex_Result);\n}\nelse{\n    list_Result = global.get(\"list_Ex_Result\");\n}\n\nvar msglist = global.get(\"list_Ex_Result\");\n\nif (!msglist) {\n    msglist = [];\n}\n\n\n\n\nvar currentdate = new Date();\nvar timeStemp = \"Time: \" +currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\n\nif (err !== \"\") {\n    err = timeStemp +\" Exception: \" +err;\nmsglist.push(err);\n}\n\n\nglobal.set(\"list_Ex_Result\",msglist);\n\nmsg.payload = msglist;\n\nreturn msg;\n\n\n// if (err !== \"\") {\n//          msglist.push(\n//              {\n//              \"time\": timeStemp.toString(),\n//              \"key-no\": \"NA\",\n//              \"result\": \"NG\",\n//              \"error\": err.toString()\n//              });   \n// }\n\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('Cannot POST') )\n// {\n//     node.warn(\"Send picking order list: Cannot POST\", msg);\n//     err=\"Send picking order list: Cannot POST\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('404') )\n// {\n//     node.warn(\"Send picking order: Error 404\", msg);\n//     err=\"Send picking order: Error 404\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('not_select_file') )\n// {\n//     node.warn(\"Not select file\", msg);\n//     err=\"Not select file\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file') )\n// {\n//     node.warn(\"Empty file\", msg);\n//     err=\"There’s no data in file\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file') )\n// {\n//     node.warn(\"Empty file\", msg);\n//     err=\"Wrong file format\";\n// }\n// node.warn(\"msg.payload:   \" + msg.payload);\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('empty_file_content') )\n// {\n//     node.warn(\"Empty file content\", msg);\n//     err=\"Empty file content\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_extension') )\n// {\n//     node.warn(\"Wrong file extension\", msg);\n//     err=\"The selected file format is wrong\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('not_select_file') )\n// {\n//     node.warn(\"Not select file\", msg);\n//     err=\"Not select file\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('data_invalid') )\n// {\n//     node.warn(\"Data of file invalid\", msg);\n//     err=\"Data of file invalid\";\n// }\n\n// if ( typeof msg.payload ==='string' && msg.payload.includes('wrong_file_path') )\n// {\n//     node.warn(\"Wrong file path\", msg);\n//     err=\"Wrong file path\";\n// }\n\n// if(msg.statusCode == 403 ){\n//     node.warn(\"error 403\", msg);\n//     err=\"Forbidden (Error 403)\";\n// }\n\n// if(msg.statusCode == 400 ){\n//     node.warn(\"error 400\", msg);\n//     err=\"Bad Request (Error 400)\";\n// }\n\n// if(msg.statusCode == 500 ){\n//     node.warn(\"error 500\", msg);\n//     err=\"Internal Server Error (Error 500)\";\n// }\n\n// if(msg.statusCode == \"EHOSTUNREACH\" ){\n//     node.warn(\"Lost connect to AGV Picking System\", msg);\n//     err=\"Lost connect to AGV Picking System\";\n// }\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":2840,"wires":[["44bdcd40.6606b4"]]},{"id":"b2db2d17.7f3a5","type":"http in","z":"25e290b0.36562","name":"","url":"/send-product","method":"post","upload":true,"swaggerDoc":"","x":110,"y":1460,"wires":[["a232c397.57b8e"]]},{"id":"4ed128c1.292d68","type":"json","z":"25e290b0.36562","name":"parser_json_product","property":"payload","action":"obj","pretty":false,"x":1300,"y":1420,"wires":[["f7947a33.cd5aa8"]]},{"id":"6e349b25.0f8d24","type":"template","z":"25e290b0.36562","name":"html response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/******************************************************************************\n * @brief   Node show receive data on the GUI\n * @return  The receive data from input file\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\n<p></p>File {{name}} has been sent !</p>\n<h2>Contents:</h2>\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":840,"y":1440,"wires":[["e9275158.a2225"]]},{"id":"2b564c18.3c88e4","type":"ui_template","z":"25e290b0.36562","group":"c75b2921.4f4ba8","name":"GUI choose file","order":1,"width":"11","height":"7","format":"\n<iframe name=\"dummyframe\" id=\"dummyframe\" style=\"display: none;\"></iframe>\n<h2>Product data:</h2>\n<div class=\"container\">\n    <form onsubmit=\"SendProductDataForm('/send-product')\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\" id=\"myform\">\n            <!--action=\"/send-product\" -->\n            <!--onsubmit=\"$('#file_product')[0].value = '';\"-->\n            <input type=\"file\" id=\"file_product\" name=\"file\" />\n            <!--<input type=\"text\" id=\"show\" placeholder=\"Enter file path\" name=\"file\" style=\"width: 30%\" />-->\n            <!--<input type=\"file\" id=\"selectedFile\" style=\"display: none;\" />-->\n            \n            <!--<input type=\"button\" id=\"btnShowPathFile\" value=\"Browse...\" onclick=\"document.getElementById('selectedFile').click();\" />-->\n            \n            <!--<input type=\"button\" id=\"btnShowPathFile\" value=\"Choose File\" onclick=\"chooseFileFunc()\" />-->\n            \n            <!--<input type=\"button\" id=\"btnShowPathFile\" value=\"Browse...\" onclick=\"chooseFileFunc()\" />-->\n            \n            <!--<button type=\"button\" id=\"btnShowPathFile\" value=\"Browse...\" ng-click=\"send(payload: {abc: lam1})\"></button> -->\n            \n            <!--<input type=\"button\" id=\"btnShowPathFile\" value=\"Choose file\" />-->\n            <br/>\n            <!--<input type=\"button\" id=\"btn-choose\" onclick=\"chooseFileFunc()\" value=\"Choose file\"/>-->\n            \n            \n            \n            \n            <!--<input type=\"text\" id=\"file_path_value\" ng-model=\"file_path\" name=\"file\" style=\"width: 50%\" />-->\n            \n            <!--<button onclick=\"chooseFileFunc()\">Choose file</button>-->\n            \n            <input type=\"text\" id=\"file_path_value\" placeholder=\"Enter file path\" name=\"file\" style=\"width: 50%\" />\n            <br/>\n            <input type=\"submit\" value=\"Insert\">\n            <input type=\"button\" class=\"button-update\" value=\"Update\" id=\"but_upload_product\">\n            <input type=\"button\" class=\"button-delete\" value=\"Delete\" id=\"but_delete_prodct\">\n    </form>\n</div>\n\n<h2>Picking order:</h2>\n<div class=\"container\">\n    <form onsubmit=\"SendPickingDataForm('/send-picking-order')\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\" id=\"myform\">\n            <!--action=\"/send-picking-order\" -->\n            <input type=\"file\" id=\"file_picking\" name=\"file\" />\n             <br/>\n            <input type=\"text\" id=\"picking_file_path\" placeholder=\"Enter file path\" name=\"file\" style=\"width: 50%\" />\n             <br/>\n            <input type=\"submit\" value=\"Send\">\n    </form>\n</div>\n\n<h2>Stowing order:</h2>\n<div class=\"container\">\n    <form onsubmit=\"SendStowingDataForm('/send-stowing-order')\" method=\"POST\" enctype=\"multipart/form-data\" target=\"dummyframe\" id=\"myform\">\n            <!--action=\"/send-stowing-order\"-->\n            <input type=\"file\" id=\"file_stowing\" name=\"file\" />\n             <br/>\n             <input type=\"text\" id=\"stowing_file_path\" placeholder=\"Enter file path\" name=\"file\" style=\"width: 50%\" />\n             <br/>\n            <input type=\"submit\" value=\"Send\">\n    </form>\n</div>\n\n\n<script>\n    function SendProductDataForm(list_Url) {\n       var fd = new FormData();\n        console.log(fd);\n        var files = $('#file_product')[0].files[0];\n        var inputValue = $('#file_path_value').val();\n        if(files){\n            fd.append('file',files);\n        }else{\n            fd.append('file',inputValue);\n        }\n\n        $.ajax({\n            //url: '/send-product',\n            url: list_Url,\n            type: 'post',\n            data: fd,\n            contentType: false,\n            processData: false,\n            dataType: \"json\",\n            success: function(response){\n                alert('Successfully called');\n                if(response != 0){\n                   response = jQuery.parseJSON(data);\n                   console.log(response);\n                }else{\n                    console.log('file not uploaded');\n                }\n                console.log(\"Updated\");\n            },\n             error: function(r) {\n             console.log('error by tuancv', r);\n            }\n        });\n        $('#file_product')[0].value = '';\n    }\n    \n    function SendPickingDataForm(list_Url) {\n       var fd = new FormData();\n        console.log(fd);\n        var files = $('#file_picking')[0].files[0];\n        var inputValue = $('#picking_file_path').val();\n        if(files){\n            fd.append('file',files);\n        }else{\n            fd.append('file',inputValue);\n        }\n\n        $.ajax({\n            //url: '/send-product',\n            url: list_Url,\n            type: 'post',\n            data: fd,\n            contentType: false,\n            processData: false,\n            dataType: \"json\",\n            success: function(response){\n                alert('Successfully called');\n                if(response != 0){\n                   response = jQuery.parseJSON(data);\n                   console.log(response);\n                }else{\n                    console.log('file not uploaded');\n                }\n                console.log(\"Updated\");\n            },\n             error: function(r) {\n             console.log('error by tuancv', r);\n            }\n        });\n        $('#file_picking')[0].value = '';\n    }\n \n    function SendStowingDataForm(list_Url) {\n           var fd = new FormData();\n            console.log(fd);\n            var files = $('#file_stowing')[0].files[0];\n            var inputValue = $('#stowing_file_path').val();\n            if(files){\n                fd.append('file',files);\n            }else{\n                fd.append('file',inputValue);\n            }\n    \n            $.ajax({\n                //url: '/send-product',\n                url: list_Url,\n                type: 'post',\n                data: fd,\n                contentType: false,\n                processData: false,\n                dataType: \"json\",\n                success: function(response){\n                    alert('Successfully called');\n                    if(response != 0){\n                       response = jQuery.parseJSON(data);\n                       console.log(response);\n                    }else{\n                        console.log('file not uploaded');\n                    }\n                    console.log(\"Updated\");\n                },\n                 error: function(r) {\n                 console.log('error by tuancv', r);\n                }\n            });\n            $('#file_stowing')[0].value = '';\n        } \n \n \n \n    \n   var theScope = scope;\n    \n    function chooseFileFunc() {\n        var inputValue = document.getElementById(\"file_path_value\").value;\n        if(inputValue){\n            //alert(inputValue);\n            //then use where needed\n            theScope.send({payload:inputValue});\n        }else{\n            document.getElementById('selectedFile').click();\n        // document.getElementById(\"demo\").innerHTML = \"Hello World\";\n        //alert(\"Hello\");\n        }\n    }\n    \n    \n \n \n$(document).ready(function(){\n    \n\n    \n    $(function(){\n        $('#file_product').on('change',function ()\n        {\n            //$(\"#file_product\")[0].value = '';\n            var filePath = $(this).val();\n            //alert(filePath);\n            document.getElementById(\"file_path_value\").value = \"\";\n            console.log(filePath);\n            // document.getElementById(\"btn-choose\").value = filePath;\n            //document.getElementById(\"file_product\").value = filePath;\n            //$('#file_product')[0].value = '';\n        });\n    });\n    \n    $(function(){\n        $('#file_path_value').on('change',function ()\n        {\n            var filePath = $(this).val();\n            document.getElementById(\"file_product\").value = \"\";\n\n        });\n    });\n\n\n    \n    // \n    $(function(){\n        $('#file_picking').on('change',function ()\n        {\n            var filePath = $(this).val();\n            //alert(filePath);\n            document.getElementById(\"picking_file_path\").value = \"\";\n            // document.getElementById(\"btn-choose\").value = filePath;\n            //document.getElementById(\"file_product\").value = filePath;\n        });\n    });\n    \n    $(function(){\n        $('#picking_file_path').on('change',function ()\n        {\n            var filePath = $(this).val();\n            document.getElementById(\"file_picking\").value = \"\";\n\n        });\n    });\n    \n    \n    \n    // \n    $(function(){\n        $('#file_stowing').on('change',function ()\n        {\n            var filePath = $(this).val();\n            //alert(filePath);\n            document.getElementById(\"stowing_file_path\").value = \"\";\n            // document.getElementById(\"btn-choose\").value = filePath;\n            //document.getElementById(\"file_product\").value = filePath;\n        });\n    });\n    \n    $(function(){\n        $('#stowing_file_path').on('change',function ()\n        {\n            var filePath = $(this).val();\n            document.getElementById(\"file_stowing\").value = \"\";\n\n        });\n    });\n    \n\n\n    $(\"#but_upload_product\").click(function(){\n        var fd = new FormData();\n        console.log(fd);\n        var files = $('#file_product')[0].files[0];\n        var inputValue = $('#file_path_value').val();\n        if(files){\n            fd.append('file',files);\n        }else{\n            fd.append('file',inputValue);\n        }\n      \n        \n        $.ajax({\n            url: '/update-product',\n            type: 'post',\n            data: fd,\n            contentType: false,\n            processData: false,\n            dataType: \"json\",\n            success: function(response){\n                alert('Successfully called');\n                if(response != 0){\n                   response = jQuery.parseJSON(data);\n                   console.log(response);\n                }else{\n                    console.log('file not uploaded');\n                }\n                console.log(\"Updated\");\n            },\n             error: function(r) {\n             console.log('error by tuancv', r);\n            }\n        });\n        $('#file_product')[0].value = '';\n       \n    });\n    \n    $(\"#but_delete_prodct\").click(function(){\n        \n        var fd = new FormData();\n        var files = $('#file_product')[0].files[0];\n        var inputValue = $('#file_path_value').val();\n        if(files){\n            fd.append('file',files);\n        }else{\n            fd.append('file',inputValue);\n        }\n\n        $.ajax({\n            url: '/delete-product',\n            type: 'post',\n            data: fd,\n            contentType: false,\n            processData: false,\n            dataType: \"json\",\n            success: function(response){\n                console.log(\"Updated\");\n            },\n        });\n        $('#file_product')[0].value = '';\n    });\n});\n\n</script>\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1360,"y":2680,"wires":[["6ba0b53a.4a7cdc"]]},{"id":"e9275158.a2225","type":"http response","z":"25e290b0.36562","name":"","statusCode":"200","headers":{},"x":1000,"y":1440,"wires":[]},{"id":"f71f4e6a.e544f","type":"http in","z":"25e290b0.36562","name":"","url":"/send-picking-order","method":"post","upload":true,"swaggerDoc":"","x":132,"y":1760,"wires":[["b7f536a9.8a4958"]]},{"id":"f9bbebcf.0e3bc8","type":"function","z":"25e290b0.36562","name":"Read selected file","func":"/******************************************************************************\n * @brief   Node get data of input file\n * @return  The data of input file\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nnode.warn({\"test aaa\":msg.payload.data}); \nnode.warn({\"filelength\":msg.req.files.length});\nnode.warn({\"test 1\":msg.payload});\n\n\n//Choose file => msg.payload = \"\"\nif(msg.req.files.length != 0){\n    msg.name = msg.req.files[0].originalname;\n    \n    if (msg.req.files[0].mimetype.includes('image')) {\n        msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n    } else {\n    msg.payload = msg.req.files[0].buffer.toString();\n        }\n    var file_name =  msg.req.files[0].originalname;\n    \n    // Not JSON file\n    if (!file_name.includes('.json') && !file_name.includes('.JSON') ){\n        node.error(\"NOT JSON\");\n        return [,,,msg,,,,,];\n    }\n    \n    node.warn({\"data test\":msg.payload.data});\n    // Content is empty\n    if (msg.payload == \"\"){\n        \n        // msg.payload == \"\"\n        // || !msg.payload.data.hasOwnProperty(\"key-no\") || !msg.payload.data.hasOwnProperty(\"jan-code\")\n        \n        node.error(\"EMPTY FILE\");\n        return [,,msg,,,,,,];\n    }\n    \n    if(msg.fileType == \"Product\"){\n        return [msg,,,,,,,,];\n    }\n    else if(msg.fileType == \"Picking\"){\n        return [,msg,,,,,,,];\n    }else if(msg.fileType == \"Stowing\"){\n        return [,,,,,msg,,,];\n    }\n    else{\n        //Do no thing\n    }\n    \n}else{\n    //Insert file path => msg.files = \"\"\n    node.warn({\"Not File\":msg});\n    \n    if(!msg.payload.file){\n        node.error(\"Not SELECT FILE\");\n        return [,,,,msg,,,,];\n    }\n    else{\n        if (!msg.payload.file.includes('.json') && !msg.payload.file.includes('.JSON') ){\n            node.error(\"NOT JSON\");\n            return [,,,msg,,,,,];\n        }\n        node.warn({\"EX\":msg});\n        if(msg.fileType == \"Product\"){\n            return [,,,,,,msg,,];\n        }\n        else if(msg.fileType == \"Picking\"){\n            return [,,,,,,,msg,];\n        }\n        else if(msg.fileType == \"Stowing\"){\n            return [,,,,,,,,msg];\n        }\n        //return [,,,,,,msg];\n    }\n}\n\n\n\n\n// if(!msg.req.files[0]){\n//     node.error(\"Not SELECT FILE\");\n//     return [,,,,msg];\n// }\n\n// msg.name = msg.req.files[0].originalname;\n\n// if (msg.req.files[0].mimetype.includes('image')) {\n//     msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n// } else {\n//     msg.payload = msg.req.files[0].buffer.toString();\n// }\n\n// var file_name =  msg.req.files[0].originalname;\n\n// // Not JSON file\n// if (!file_name.includes('json') && !file_name.includes('JSON') ){\n//     node.error(\"NOT JSON\");\n//     return [,,,msg,];\n// }\n\n// // Content is empty\n// if (msg.payload == \"\"){\n//     node.error(\"EMPTY FILE\");\n//     return [,,msg,,];\n// }\n\n// if(msg.fileType == \"Product\"){\n//     return [msg,,,,];\n// }\n// else if(msg.fileType == \"Picking\"){\n//     return [,msg,,,];\n// }else if(msg.fileType == \"Stowing\"){\n//     return [,,,,,msg];\n// }\n// else{\n//     //Do no thing\n// }\n","outputs":9,"noerr":0,"initialize":"","finalize":"","x":650,"y":1660,"wires":[["6e349b25.0f8d24","ce76dab2.bc5788"],["6e349b25.0f8d24","c4b3c517.67a6b8"],["9e092561.ad3388"],["479ccf16.a7634"],["90a7e5c.8dbf918"],["6704378.f3858c8"],["d533c40b.df2168"],["d533c40b.df2168"],["d533c40b.df2168"]]},{"id":"178b6433.48028c","type":"json","z":"25e290b0.36562","name":"parser_json_pickinglist","property":"payload","action":"obj","pretty":false,"x":1300,"y":1480,"wires":[["f7947a33.cd5aa8"]]},{"id":"563e5170.c714d","type":"function","z":"25e290b0.36562","name":"Handle Picking Response Data","func":"/******************************************************************************\n * @brief   Node handle result to show data on logView\n * @return  The list result data\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nnode.warn({\"data\":msg.payload.data[0][\"sequence-no\"]});\nvar list_Result = [];\nif(!global.get(\"list_Result\")){\n    global.set(\"list_Result\",list_Result);\n}\nelse{\n    list_Result = global.get(\"list_Result\");\n}\nlist_Result = JSON.parse(JSON.stringify(list_Result));\n/******************************************************************************\n * @brief   Get real time \n * @return  The time data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar currentdate = new Date();\nvar timeStemp = currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\n/******************************************************************************\n * @brief   Handle response data when received from API server\n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar responseData = msg.payload.data;\nif((msg.payload) ===\"\"){\n    list_Result.push(timeStemp + `Received Data: empty`);\n}else{\n   if(!(responseData[0][\"sequence-no\"])){\n   for(var key in responseData){\n    if (responseData.hasOwnProperty(key)) {\n         list_Result.push(\n             {\"time\": timeStemp.toString(),\n             \"key-no\": responseData[key][\"key-no\"],\n             \"sequence-no\": \"\",\n             \"result\": responseData[key][\"result\"],\n             \"errorCode\": responseData[key][\"errorCode\"],\n             \"error-message\": responseData[key][\"error-message\"]\n            //  \"result\": \"Response ok\"\n             });\n            }\n         }\n    } \n}\n\n/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\n// if((msg.payload.data[0][\"sequence-no\"])){\n//     var keyValue = msg.payload.data[0][\"key-no\"];\n//     var listKeyId= [] ;\n//     for(var item in list_Result)\n//     {\n//         if(list_Result[item][\"key-no\"] == keyValue){\n//             listKeyId.push(item);\n//         }\n//     }\n//     var newKey = Math.max.apply(Math, listKeyId);\n//     list_Result[newKey][\"result\"] = \"Picking completed\";\n//     list_Result[newKey][\"sequence-no\"] =  msg.payload.data[0][\"sequence-no\"];\n//     list_Result[newKey][\"time\"] = timeStemp.toString();\n\n//     //node.warn({\"key\":keyValue}); \n// }\n\n//node.warn({\"key\":list_Result[item][\"key-no\"]}); \nglobal.set(\"list_Result\",list_Result);\nmsg.payload = list_Result;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1140,"wires":[["90e79ad7.876db8"]]},{"id":"8d56939a.39b59","type":"link out","z":"25e290b0.36562","name":"Send picking exception","links":["2cd7b0c4.381a1"],"x":930,"y":1200,"wires":[],"l":true},{"id":"44bdcd40.6606b4","type":"link out","z":"25e290b0.36562","name":"Send handle exception","links":["4a743707.f3a648","da388975.2333c8"],"x":1060,"y":2840,"wires":[],"l":true},{"id":"4a743707.f3a648","type":"link in","z":"25e290b0.36562","name":"","links":["44bdcd40.6606b4","b0eac190.81ad7"],"x":1155,"y":2160,"wires":[["2ff1c229.4d459e"]]},{"id":"85668717.d98e28","type":"link out","z":"25e290b0.36562","name":"Send picking order list","links":["e6381e52.6f5bb","5fc0cd1.10abc34"],"x":1900,"y":1500,"wires":[],"l":true},{"id":"e6381e52.6f5bb","type":"link in","z":"25e290b0.36562","name":"","links":["85668717.d98e28"],"x":55,"y":1260,"wires":[["c99601ed.ad54b"]]},{"id":"4c652c5f.2aa3e4","type":"link out","z":"25e290b0.36562","name":"Send product data","links":["75a783c0.80218c"],"x":1890,"y":1460,"wires":[],"l":true},{"id":"75a783c0.80218c","type":"link in","z":"25e290b0.36562","name":"","links":["4c652c5f.2aa3e4","68bae82b.591f88"],"x":35,"y":680,"wires":[["5b89fe2a.8dd8f"]]},{"id":"3b5ca406.00d18c","type":"comment","z":"25e290b0.36562","name":"Insert product file","info":"","x":102,"y":1420,"wires":[]},{"id":"92cb55b8.cddf88","type":"comment","z":"25e290b0.36562","name":"Insert picking file","info":"","x":103,"y":1720,"wires":[]},{"id":"28289904.565006","type":"comment","z":"25e290b0.36562","name":"Clear log table","info":"","x":210,"y":2160,"wires":[]},{"id":"41669bf7.c8adc4","type":"comment","z":"25e290b0.36562","name":"Handle exception","info":"","x":100,"y":2620,"wires":[]},{"id":"a232c397.57b8e","type":"function","z":"25e290b0.36562","name":"Check Product List","func":"/******************************************************************************\n * @brief   Node add file type parameter \n * @return  The data file of product list\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.fileType = \"Product\";\nmsg.actionName = \"Insert\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1460,"wires":[["f9bbebcf.0e3bc8"]]},{"id":"b7f536a9.8a4958","type":"function","z":"25e290b0.36562","name":"Check Picking Order List","func":"/******************************************************************************\n * @brief   Node add file type parameter \n * @return  The data file of picking order list\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.fileType = \"Picking\";\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":1760,"wires":[["f9bbebcf.0e3bc8"]]},{"id":"ff500fd5.30903","type":"function","z":"25e290b0.36562","name":"Throw exception empty file content","func":"throw \"empty_file_content\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":1960,"wires":[[]]},{"id":"acd977c9.4bfc38","type":"catch","z":"25e290b0.36562","name":"Catch empty file content","scope":["ff500fd5.30903"],"uncaught":false,"x":120,"y":2660,"wires":[["e1bc9964.89d488"]]},{"id":"e1bc9964.89d488","type":"function","z":"25e290b0.36562","name":"Throw exception empty file content","func":"/******************************************************************************\n * @brief   Node throw exception when choose empty file\n * @return  The exception\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.payload = \"empty_file_content\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2660,"wires":[["9c31edc0.84354"]]},{"id":"2cd7b0c4.381a1","type":"link in","z":"25e290b0.36562","name":"","links":["8d56939a.39b59","5bed2a1e.7a36a4","1d010128.d1758f","b7141513.306d68","6c8b7396.0ca5cc","9650019a.4515","5e57074d.523f68","10013b5a.a9c1f5"],"x":715,"y":2780,"wires":[["9c31edc0.84354"]]},{"id":"479ccf16.a7634","type":"function","z":"25e290b0.36562","name":"Throw exception wrong extension","func":"throw \"wrong_extension\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1700,"wires":[[]]},{"id":"86c873db.7fab","type":"function","z":"25e290b0.36562","name":"Throw exception wrong extension","func":"/******************************************************************************\n * @brief   Node throw exception when choose empty file\n * @return  The exception\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.payload = \"wrong_extension\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2720,"wires":[["9c31edc0.84354"]]},{"id":"a2097ac7.194388","type":"catch","z":"25e290b0.36562","name":"Catch wrong extension","scope":["479ccf16.a7634"],"uncaught":false,"x":120,"y":2720,"wires":[["86c873db.7fab"]]},{"id":"90a7e5c.8dbf918","type":"function","z":"25e290b0.36562","name":"Throw exception not select file","func":"throw \"not_select_file\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":1760,"wires":[[]]},{"id":"dffe1aea.1a99c8","type":"function","z":"25e290b0.36562","name":"Throw exception not select file","func":"/******************************************************************************\n * @brief   Node throw exception when choose empty file\n * @return  The exception\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.payload = \"not_select_file\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2780,"wires":[["9c31edc0.84354"]]},{"id":"9a99dbf.b17ae28","type":"catch","z":"25e290b0.36562","name":"Catch not select file","scope":["90a7e5c.8dbf918"],"uncaught":false,"x":110,"y":2780,"wires":[["dffe1aea.1a99c8"]]},{"id":"3266d9c9.300486","type":"comment","z":"25e290b0.36562","name":"Manipulation GUI","info":"","x":1360,"y":2641,"wires":[]},{"id":"2ff1c229.4d459e","type":"ui_list","z":"25e290b0.36562","group":"4b0d0774.bd6f08","name":"Exception View","order":9,"width":"11","height":"6","lineType":"one","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1280,"y":2220,"wires":[],"info":"// Comments"},{"id":"a384cb7c.8437e8","type":"ui_button","z":"25e290b0.36562","name":"Clear picking table","group":"d508095.aaa41f8","order":3,"width":"3","height":1,"passthru":true,"label":"Clear Log Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Do you want to delete data ?","payloadType":"str","topic":"Clear picking log table","x":230,"y":2198,"wires":[["1e07dd05.b315f3"]]},{"id":"afd5c247.91444","type":"comment","z":"25e290b0.36562","name":"Clear log view","info":"","x":210,"y":2258,"wires":[]},{"id":"182fea29.e59a36","type":"ui_button","z":"25e290b0.36562","name":"Clear log view","group":"4b0d0774.bd6f08","order":19,"width":"3","height":1,"passthru":false,"label":"Clear Log View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Do you want to delete data ?","payloadType":"str","topic":"Clear log view","x":220,"y":2298,"wires":[["1e07dd05.b315f3"]]},{"id":"463483e4.57ac5c","type":"ui_table","z":"25e290b0.36562","group":"d508095.aaa41f8","name":"Table Picking Order View","order":2,"width":"35","height":"4","columns":[{"field":"time","title":"Time","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"key-no","title":"Key-no","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sequence-no","title":"Sequence-no","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"result","title":"Result","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"errorCode","title":"Error code","width":"15 %","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"error-message","title":"Error message","width":"15 %","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1310,"y":2120,"wires":[]},{"id":"51b4f620.0dac98","type":"comment","z":"25e290b0.36562","name":"Clear log view","info":"","x":210,"y":2358,"wires":[]},{"id":"2fa9ea71.237ec6","type":"ui_button","z":"25e290b0.36562","name":"Clear log all view","group":"cb57077b.866e38","order":8,"width":"3","height":1,"passthru":false,"label":"Clear Log  All View","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Do you want to delete data ?","payloadType":"str","topic":"Clear log all view","x":230,"y":2395,"wires":[["1e07dd05.b315f3"]]},{"id":"6aba6029.e3cc2","type":"ui_list","z":"25e290b0.36562","group":"cb57077b.866e38","name":"Log All View","order":1,"width":"13","height":"6","lineType":"one","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":1270,"y":2400,"wires":[],"info":"// Comments"},{"id":"e3a3c14d.7d2f4","type":"function","z":"25e290b0.36562","name":"Handle Result","func":"/******************************************************************************\n * @brief   Node handle result to show data on logView\n * @return  The list result data\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nvar listAllResult = [];\nif(!global.get(\"listAllResult\")){\n    global.set(\"listAllResult\",listAllResult);\n}\nelse{\n    listAllResult = global.get(\"listAllResult\");\n}\n\nnode.warn(\"LEN: \" + global.get(\"listAllResult\").length);\n\nvar currentdate = new Date();\nvar timeStemp = \"<b>Receive time: </b> \" + currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\nif((msg.payload)){\n    //listAllResult.push(\"<br/><div>\" + timeStemp +\"</div>\");\n    listAllResult.push(\"<br/><div>\" + timeStemp + `<br/><b>Received Data </b>: <br/>${(msg.payload)}` + \"</div>\");\n}else if((msg.payload) ===\"\"){\n    listAllResult.push(timeStemp + ` Received Data: empty`);\n}\nglobal.set(\"listAllResult\",listAllResult);\nmsg.payload = listAllResult;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2420,"wires":[["6aba6029.e3cc2"]]},{"id":"11430331.a48abd","type":"comment","z":"25e290b0.36562","name":"Log  All View","info":"","x":1270,"y":2360,"wires":[]},{"id":"cdcf967e.908b48","type":"json","z":"25e290b0.36562","name":"","property":"payload","action":"","pretty":false,"x":770,"y":2420,"wires":[["e3a3c14d.7d2f4"]]},{"id":"91a5cc9a.c0c97","type":"http in","z":"25e290b0.36562","name":"","url":"/update-product","method":"post","upload":true,"swaggerDoc":"","x":121,"y":1560,"wires":[["1435ff55.0b5671"]]},{"id":"2f9faae8.bc1c76","type":"comment","z":"25e290b0.36562","name":"Update product file","info":"","x":111,"y":1520,"wires":[]},{"id":"1435ff55.0b5671","type":"function","z":"25e290b0.36562","name":"Check Product List","func":"/******************************************************************************\n * @brief   Node add file type parameter \n * @return  The data file of product list\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.fileType = \"Product\";\nmsg.actionName = \"Update\";\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":1560,"wires":[["f9bbebcf.0e3bc8"]]},{"id":"925e3754.56a028","type":"http in","z":"25e290b0.36562","name":"","url":"/delete-product","method":"post","upload":true,"swaggerDoc":"","x":121,"y":1660,"wires":[["a141967.a3f3668"]]},{"id":"2b1d715b.c2d71e","type":"comment","z":"25e290b0.36562","name":"Delete product file","info":"","x":111,"y":1620,"wires":[]},{"id":"a141967.a3f3668","type":"function","z":"25e290b0.36562","name":"Check Product List","func":"/******************************************************************************\n * @brief   Node add file type parameter \n * @return  The data file of product list\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.fileType = \"Product\";\nmsg.actionName = \"Delete\";\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":1660,"wires":[["f9bbebcf.0e3bc8"]]},{"id":"615f2c81.4b4944","type":"link in","z":"25e290b0.36562","name":"","links":["9650019a.4515","1d010128.d1758f","5e57074d.523f68","6c8b7396.0ca5cc","b7141513.306d68","b19e4c1.9aaf4b","10013b5a.a9c1f5","97f95f48.a7d8e"],"x":635,"y":2420,"wires":[["cdcf967e.908b48"]]},{"id":"b19e4c1.9aaf4b","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944"],"x":835,"y":1260,"wires":[]},{"id":"f0722934.793678","type":"link in","z":"25e290b0.36562","name":"","links":["90e79ad7.876db8","2604546f.be082c","9e94dae.d436b28","597f2156.4f86d"],"x":1155,"y":2100,"wires":[["463483e4.57ac5c"]]},{"id":"90e79ad7.876db8","type":"link out","z":"25e290b0.36562","name":"Send data log view","links":["f0722934.793678"],"x":1250,"y":1140,"wires":[],"l":true},{"id":"c5ff2d4b.0f5e5","type":"ui_button","z":"25e290b0.36562","name":"","group":"7f50ab73.2f4ea4","order":1,"width":"3","height":"1","passthru":false,"label":"Start WMS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"","x":130,"y":3140,"wires":[["cb15926c.4fd56"]]},{"id":"38e7b4dc.c56c3c","type":"ui_button","z":"25e290b0.36562","name":"","group":"7f50ab73.2f4ea4","order":1,"width":"3","height":"1","passthru":false,"label":"Stop WMS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"","x":130,"y":3260,"wires":[["cb15926c.4fd56"]]},{"id":"cb15926c.4fd56","type":"function","z":"25e290b0.36562","name":"Start/Stop SIM","func":"if (msg.payload === \"start\") {\n    flow.set(\"running\", true);\n} else if (msg.payload === \"stop\") {\n    flow.set(\"running\", false);\n} else {\n    node.warn(\"Wrong payload message\");\n}\n\nlet enableMsg = {};\nenableMsg.enabled = !flow.get(\"running\");\nenableMsg.payload = '';\nenableMsg.typeClick = 'start_stop';\n\nlet disableMsg = {};\ndisableMsg.enabled = flow.get(\"running\");\ndisableMsg.payload = '';\ndisableMsg.typeClick = 'start_stop';\n\nreturn [enableMsg, disableMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":3200,"wires":[["c5ff2d4b.0f5e5"],["a8c46eb6.c39f2","38e7b4dc.c56c3c"]]},{"id":"a8c46eb6.c39f2","type":"link out","z":"25e290b0.36562","name":"Disable when stop","links":["e5860245.af4a3","1db8acb9.b4a513","6e1f078a.1499e8","630132c2.19840c","1b0eaccc.f5ec73"],"x":585,"y":3207,"wires":[],"l":true},{"id":"e5860245.af4a3","type":"link in","z":"25e290b0.36562","name":"","links":["a8c46eb6.c39f2"],"x":1195,"y":2680,"wires":[["2b564c18.3c88e4"]]},{"id":"c2f60fd2.4a8fb","type":"function","z":"25e290b0.36562","name":"Function response","func":"/******************************************************************************\n * @brief   Node return picking result\n * @return  the picking result value\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nnode.warn({\"data outbound result\":msg.payload});\nvar isRunning = flow.get(\"running\");\n\nvar res_msg = {};\n\nif (isRunning)\n{\n    msg.statusCode = 200;\n    var response = {\"result\": \"ok\"};\n    msg.payload = response;\n\n} else {\n    msg.statusCode = 503;\n    var response = {};\n    msg.payload = undefined;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":80,"wires":[["a494a43a.659a98"]]},{"id":"4c0072d7.94d91c","type":"http request","z":"25e290b0.36562","name":"HTTP client: Insert single product data","method":"POST","ret":"obj","paytoqs":"query","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":610,"y":440,"wires":[["1d010128.d1758f","d01a5e62.d476f"]]},{"id":"1d010128.d1758f","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","2cd7b0c4.381a1","8aa45fd6.f2241"],"x":835,"y":440,"wires":[]},{"id":"e50e3168.39c6","type":"http request","z":"25e290b0.36562","name":"HTTP client: Insert multiple product data","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":620,"y":500,"wires":[["5e57074d.523f68","d01a5e62.d476f"]]},{"id":"5e57074d.523f68","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","8aa45fd6.f2241","2cd7b0c4.381a1"],"x":835,"y":540,"wires":[]},{"id":"6030cdb7.731b84","type":"http request","z":"25e290b0.36562","name":"HTTP client: Update single product data","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":620,"y":580,"wires":[["b7141513.306d68","d01a5e62.d476f"]]},{"id":"b7141513.306d68","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","2cd7b0c4.381a1","8aa45fd6.f2241"],"x":835,"y":600,"wires":[]},{"id":"bc991ba.ce7bae8","type":"http request","z":"25e290b0.36562","name":"HTTP client: Update multiple product data","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":620,"y":660,"wires":[["10013b5a.a9c1f5","d01a5e62.d476f"]]},{"id":"10013b5a.a9c1f5","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","8aa45fd6.f2241","2cd7b0c4.381a1"],"x":835,"y":680,"wires":[]},{"id":"b636835c.46123","type":"http request","z":"25e290b0.36562","name":"HTTP client: Delete single product data","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":610,"y":740,"wires":[["6c8b7396.0ca5cc","d01a5e62.d476f"]]},{"id":"6c8b7396.0ca5cc","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","2cd7b0c4.381a1","8aa45fd6.f2241"],"x":835,"y":760,"wires":[]},{"id":"3636edd9.e0a9b2","type":"http request","z":"25e290b0.36562","name":"HTTP client: Delete multiple product data","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":620,"y":820,"wires":[["9650019a.4515","d01a5e62.d476f"]]},{"id":"9650019a.4515","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944","2cd7b0c4.381a1","8aa45fd6.f2241"],"x":835,"y":840,"wires":[]},{"id":"3842ab31.0fec14","type":"function","z":"25e290b0.36562","name":"Append sending product event","func":"var listAllResult = [];\nif(!global.get(\"listAllResult\")){\n    global.set(\"listAllResult\",listAllResult);\n}\nelse{\n    listAllResult = global.get(\"listAllResult\");\n}\n\nvar currentdate = new Date();\nvar timeStemp = \"<b>Time: </b> \" + currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\nif((msg.payload)){\n    listAllResult.push(\"<br/><div>\" + timeStemp + `<br/><b>${msg.actionName} Product Data </b>: <br/>${(msg.payload)}` + \"</div>\");\n}else if((msg.payload) ===\"\"){\n    listAllResult.push(timeStemp + ` Received Data: empty`);\n}\nglobal.set(\"listAllResult\",listAllResult);\nmsg.payload = listAllResult;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2460,"wires":[["6aba6029.e3cc2"]]},{"id":"e599a697.311cc8","type":"link out","z":"25e290b0.36562","name":"","links":["5395871d.4a3348"],"x":315,"y":720,"wires":[]},{"id":"5395871d.4a3348","type":"link in","z":"25e290b0.36562","name":"","links":["e599a697.311cc8"],"x":635,"y":2460,"wires":[["a79d379.e0d9ec8"]]},{"id":"a79d379.e0d9ec8","type":"json","z":"25e290b0.36562","name":"","property":"payload","action":"","pretty":false,"x":770,"y":2460,"wires":[["3842ab31.0fec14"]]},{"id":"fbca2b44.50dd78","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3520,"wires":[]},{"id":"400f8964.3803e8","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Update All\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3520,"wires":[["fbca2b44.50dd78"]]},{"id":"483b21e8.b5814","type":"http in","z":"25e290b0.36562","name":" Update Multiple Server","url":"/test","method":"put","upload":true,"swaggerDoc":"","x":110,"y":3520,"wires":[["400f8964.3803e8"]]},{"id":"eedfc0e.a3b304","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3580,"wires":[]},{"id":"cf816f12.dfa1b","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Update sigle\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3580,"wires":[["eedfc0e.a3b304"]]},{"id":"252379c9.79f126","type":"http in","z":"25e290b0.36562","name":" Update Single Server","url":"/test/4946452029816","method":"put","upload":true,"swaggerDoc":"","x":110,"y":3580,"wires":[["cf816f12.dfa1b"]]},{"id":"1f35b7ec.107318","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3400,"wires":[]},{"id":"2c18302c.f1add","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Insert All\";\nmsg.payload = \n{\t\n\t\"data\": [\n\t\t{\n\t\t\t\"jan-code\": \"4946452000228\",\n\t\t\t\"result\": \"ok\"\n\t\t}\n\t\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":3400,"wires":[["1f35b7ec.107318"]]},{"id":"f6cfb98b.cd7fe8","type":"http in","z":"25e290b0.36562","name":"Insert Multiple Server","url":"/test","method":"post","upload":true,"swaggerDoc":"","x":110,"y":3400,"wires":[["2c18302c.f1add"]]},{"id":"60bf2b75.70dfd4","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3460,"wires":[]},{"id":"e736330.f9026d","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Insert sigle\";\nmsg.payload = \n{\t\n\t\"data\": [\n\t\t{\n\t\t\t\"jan-code\": \"4946452000228\",\n\t\t\t\"result\": \"ok\"\n\t\t}\n\t\t]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":3460,"wires":[["60bf2b75.70dfd4"]]},{"id":"56ceae70.aed3f","type":"http in","z":"25e290b0.36562","name":" Insert Single Server","url":"/test","method":"post","upload":true,"swaggerDoc":"","x":100,"y":3460,"wires":[["e736330.f9026d"]]},{"id":"8d329dab.91c6a","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3640,"wires":[]},{"id":"35f9a1dc.d6060e","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Update All\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3640,"wires":[["8d329dab.91c6a"]]},{"id":"ec9c50a8.c1c51","type":"http in","z":"25e290b0.36562","name":" Delete Multiple Server","url":"/test","method":"delete","upload":true,"swaggerDoc":"","x":110,"y":3640,"wires":[["35f9a1dc.d6060e"]]},{"id":"3244e7d7.10af68","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3700,"wires":[]},{"id":"20bd89fd.a9e636","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.title =\"Update sigle\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3700,"wires":[["3244e7d7.10af68"]]},{"id":"4462a2e.7a54b5c","type":"http in","z":"25e290b0.36562","name":" Delete Single Server","url":"/test/4946452029816","method":"delete","upload":true,"swaggerDoc":"","x":98,"y":3700,"wires":[["20bd89fd.a9e636"]]},{"id":"b7e6c326.82fe5","type":"comment","z":"25e290b0.36562","name":"Mockup server","info":"","x":92,"y":3360,"wires":[]},{"id":"da11aad3.882298","type":"function","z":"25e290b0.36562","name":"Append sending  order event","func":"var listAllResult = [];\nif(!global.get(\"listAllResult\")){\n    global.set(\"listAllResult\",listAllResult);\n}\nelse{\n    listAllResult = global.get(\"listAllResult\");\n}\n\nvar currentdate = new Date();\nvar timeStemp = \"<b>Send time: </b> \" + currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\nif((msg.payload)){\n    listAllResult.push(\"<br/><div>\" + timeStemp + `<br/><b>Order Data </b>: <br/>${(msg.payload)}` + \"</div>\");\n    // listAllResult.push(\"<br/><div>\" + timeStemp +\"</div>\");\n}else if((msg.payload) ===\"\"){\n    listAllResult.push(timeStemp + ` Received Data: empty`);\n}\nglobal.set(\"listAllResult\",listAllResult);\nmsg.payload = listAllResult;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2500,"wires":[["6aba6029.e3cc2"]]},{"id":"5fc0cd1.10abc34","type":"link in","z":"25e290b0.36562","name":"","links":["85668717.d98e28","ee64754f.9bd958"],"x":636,"y":2500,"wires":[["93877c99.41e35"]]},{"id":"93877c99.41e35","type":"json","z":"25e290b0.36562","name":"","property":"payload","action":"","pretty":false,"x":770,"y":2500,"wires":[["da11aad3.882298"]]},{"id":"82f12629.9149c8","type":"debug","z":"25e290b0.36562","name":"Outbound Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":40,"wires":[]},{"id":"2604546f.be082c","type":"link out","z":"25e290b0.36562","name":"","links":["f0722934.793678"],"x":615,"y":120,"wires":[]},{"id":"fa413cbd.6df7d","type":"function","z":"25e290b0.36562","name":"Function Update Picking Complete","func":"/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nnode.warn({\"data-test\":msg.payload.data});\n\nif(!global.get(\"list_Result\")){\n    var list_Result = [];\n    global.set(\"list_Result\",list_Result);\n}\nelse{\n    list_Result = global.get(\"list_Result\");\n}\nlist_Result = JSON.parse(JSON.stringify(list_Result));\n/******************************************************************************\n * @brief   Get real time \n * @return  The time data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar currentdate = new Date();\nvar timeStemp = currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\n\n/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nif((msg.payload)){\n    var keyValue = msg.payload.data[0][\"key-no\"];\n    var listKeyId= [] ;\n    if(list_Result.length >0 ){\n        for(var item in list_Result)\n        {\n            if(list_Result[item][\"key-no\"] == keyValue){\n                listKeyId.push(item);\n            }\n        }\n        node.warn({\"listKeyId\":listKeyId});\n        if(listKeyId.length >0){\n            var newKey = Math.max.apply(Math, listKeyId);\n            node.warn({\"index-key\":newKey});\n            list_Result[newKey][\"result\"] = \"Stowing completed\";\n            list_Result[newKey][\"sequence-no\"] =  msg.payload.data[0][\"sequence-no\"];\n            list_Result[newKey][\"time\"] = timeStemp.toString();\n        }else{\n            list_Result.push(\n             {\"time\": timeStemp.toString(),\n             \"key-no\": msg.payload.data[0][\"key-no\"],\n             \"sequence-no\": msg.payload.data[0][\"sequence-no\"],\n            //\"tray-id\": responseData[key][\"unit_uketuke_no\"].toString(),\n             \"result\": \"Stowing completed\"\n        });\n        }\n    }\n   else{\n        node.warn({\"testData\":msg.payload.data});\n    //   for(var i in msg.payload.data ){\n        \n    //     list_Result.push(\n    //          {\"time\": timeStemp.toString(),\n    //          \"key-no\": i[\"key-no\"],\n    //          \"sequence-no\": i[\"sequence-no\"],\n    //         //  \"tray-id\": responseData[key][\"hkat-shiji-no\"].toString(),\n    //          \"result\": \"Stowing completed\"\n    //     });\n    //   }\n    \n        list_Result.push(\n             {\"time\": timeStemp.toString(),\n             \"key-no\": msg.payload.data[0][\"key-no\"],\n             \"sequence-no\": msg.payload.data[0][\"sequence-no\"],\n            //  \"tray-id\": responseData[key][\"hkat-shiji-no\"].toString(),\n             \"result\": \"Stowing completed\"\n        });\n    }\n    \n}\n\n\n//node.warn({\"key\":list_Result[item][\"key-no\"]}); \nglobal.set(\"list_Result\",list_Result);\n\nmsg.payload = global.get(\"list_Result\");\n\nnode.warn({\"data-list\":msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":80,"wires":[["c2f60fd2.4a8fb","2604546f.be082c","e5230872.e6fa68"]]},{"id":"e5230872.e6fa68","type":"debug","z":"25e290b0.36562","name":"Data outbound","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":40,"wires":[]},{"id":"dff3d981.43d1a8","type":"inject","z":"25e290b0.36562","name":"Post Outbound","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Post_Outbound')","payloadType":"jsonata","x":1200,"y":80,"wires":[["4797b0fb.4760f"]]},{"id":"4797b0fb.4760f","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":80,"wires":[["78badbc2.454254"]]},{"id":"78badbc2.454254","type":"function","z":"25e290b0.36562","name":"Set global outbound","func":"global.set(\"outbound\",msg.payload.outbound);\nglobal.set(\"inbound\",msg.payload.inbound);\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":80,"wires":[[]]},{"id":"c99601ed.ad54b","type":"function","z":"25e290b0.36562","name":"Set url outbound","func":"msg.url = global.get(\"outbound\");\n//msg.url = \"http://10.116.41.70:5050/agv-web/v1.0/outbound\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1260,"wires":[["623c8599.d554ac"]]},{"id":"15ed2b4a.6d6655","type":"inject","z":"25e290b0.36562","name":"Post Inbound","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Post_Inbound')","payloadType":"jsonata","x":1200,"y":140,"wires":[["81e72f50.19ce2"]]},{"id":"ecbc5a61.a18198","type":"inject","z":"25e290b0.36562","name":"Post Products","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Post_Products')","payloadType":"jsonata","x":1200,"y":200,"wires":[["5ae9d8ba.0342f8"]]},{"id":"68681f23.09bd1","type":"inject","z":"25e290b0.36562","name":"Put Products","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Put_Products')","payloadType":"jsonata","x":1190,"y":260,"wires":[["e76fb478.daec78"]]},{"id":"a18b044b.1c7be8","type":"inject","z":"25e290b0.36562","name":"Get Products","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Get_Products')","payloadType":"jsonata","x":1190,"y":320,"wires":[["b7223215.90de2"]]},{"id":"87a1e29c.fd987","type":"inject","z":"25e290b0.36562","name":"Delete Products","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"$env('Delete_Products')","payloadType":"jsonata","x":1200,"y":380,"wires":[["881c9fb1.1a47"]]},{"id":"81e72f50.19ce2","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":140,"wires":[["22f7163c.70512a"]]},{"id":"5ae9d8ba.0342f8","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":200,"wires":[["84b9565d.205bf8"]]},{"id":"e76fb478.daec78","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":260,"wires":[["15cbcf67.f5ec31"]]},{"id":"b7223215.90de2","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":320,"wires":[["4255f2b.aaf7f0c"]]},{"id":"881c9fb1.1a47","type":"json","z":"25e290b0.36562","name":"Parser json","property":"payload","action":"obj","pretty":false,"x":1450,"y":380,"wires":[["97018f0e.472dd"]]},{"id":"22f7163c.70512a","type":"function","z":"25e290b0.36562","name":"Set global inbound","func":"global.set(\"inbound\",msg.payload.inbound);\nglobal.set(\"inbound_result\",msg.payload.inbound_result);\nreturn msg;","outputs":1,"noerr":0,"x":1690,"y":140,"wires":[[]]},{"id":"84b9565d.205bf8","type":"function","z":"25e290b0.36562","name":"Set global post products","func":"global.set(\"post_products\",msg.payload.post_products);\nglobal.set(\"post_products_query\",msg.payload.post_products_query);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":200,"wires":[[]]},{"id":"15cbcf67.f5ec31","type":"function","z":"25e290b0.36562","name":"Set global put products","func":"global.set(\"put_products\",msg.payload.put_products);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":260,"wires":[[]]},{"id":"4255f2b.aaf7f0c","type":"function","z":"25e290b0.36562","name":"Set global get products","func":"global.set(\"get_products\",msg.payload.get_products);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":320,"wires":[[]]},{"id":"97018f0e.472dd","type":"function","z":"25e290b0.36562","name":"Set global delete products","func":"global.set(\"delete_products\",msg.payload.delete_products);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":380,"wires":[[]]},{"id":"39a69555.ca72ea","type":"http request","z":"25e290b0.36562","name":"HTTP Client: Send Stowing Order List (inbound)","method":"POST","ret":"obj","paytoqs":"query","url":"","tls":"","persist":true,"proxy":"bfb5293c.d4d2d8","authType":"","x":560,"y":980,"wires":[["fc792ecc.22d1c","5bed2a1e.7a36a4","97f95f48.a7d8e"]]},{"id":"3309f928.06fa96","type":"inject","z":"25e290b0.36562","name":"Input stowing order list","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[{\"key-no\":\"KEY000000000002\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000003\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000004\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000005\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000006\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000007\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY000000000008\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY000000000009\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY0000000000010\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY0000000000011\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"},{\"key-no\":\"KEY0000000000012\",\"job-no\":\"J290001\",\"unit-uketuke-no\":\"UU8A0MYY4378859\",\"gyomu-code\":\"1\",\"gyomu-name\":\"出荷\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":\"1\",\"jan-code\":\"4946452029816\",\"quantity\":1,\"unit-sequence-no\":1,\"unit-name\":\"標準梱包\",\"hso-uketuke-no\":\"HS8A0MYY4945063\",\"rte\":\"B005\",\"rte-name\":\"大阪 Ｂ朝 005\",\"gosya-no\":\"002\",\"coop-code\":\"00680\",\"coop-name\":\"共同配車\",\"niuke-adsr-code\":\"27123\",\"okurijo-no\":\"82120671\"},{\"key-no\":\"KEY0000000000013\",\"job-no\":\"J290002\",\"unit-uketuke-no\":\"UU8A0MYY4378860\",\"unit-id\":0,\"nns-soko-code\":\"001\",\"koza\":1,\"unit-sequence-no\":2,\"unit-name\":\"SX-J\",\"yso-no\":\"G2698\",\"alert-message\":\"※数量注意※\"}]}","payloadType":"json","x":160,"y":980,"wires":[["39a69555.ca72ea"]]},{"id":"a97f3f83.e6dc1","type":"comment","z":"25e290b0.36562","name":"CLIENT: STOWING ORDER LIST","info":"","x":520,"y":940,"wires":[]},{"id":"fc792ecc.22d1c","type":"function","z":"25e290b0.36562","name":"Handle Stowing Response Data","func":"/******************************************************************************\n * @brief   Node handle result to show data on logView\n * @return  The list result data\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nnode.warn({\"data\":msg.payload.data[0][\"sequence-no\"]});\nvar list_Result_Stowing = [];\nif(!global.get(\"list_Result_Stowing\")){\n    global.set(\"list_Result_Stowing\",list_Result_Stowing);\n}\nelse{\n    list_Result_Stowing = global.get(\"list_Result_Stowing\");\n}\n\nlist_Result_Stowing = JSON.parse(JSON.stringify(list_Result_Stowing));\n/******************************************************************************\n * @brief   Get real time \n * @return  The time data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar currentdate = new Date();\nvar timeStemp = currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\n\n/******************************************************************************\n * @brief   Handle response data when received from API server\n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar responseData = msg.payload.data;\nif((msg.payload) ===\"\"){\n    list_Result_Stowing.push(timeStemp + `Received Data: empty`);\n}else{\n   if(!(responseData[0][\"sequence-no\"])){\n   for(var key in responseData){\n    if (responseData.hasOwnProperty(key)) {\n         list_Result_Stowing.push(\n             {\"time\": timeStemp.toString(),\n             \"key-no\": responseData[key][\"key-no\"],\n             \"sequence-no\": \"\",\n             \"result\": responseData[key][\"result\"],\n             \"errorCode\": responseData[key][\"errorCode\"],\n             \"error-message\": responseData[key][\"error-message\"]\n            //  \"result\": \"Response ok\"\n             });\n            }\n         }\n    } \n}\n\n/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\n// if((msg.payload.data[0][\"sequence-no\"])){\n//     var keyValue = msg.payload.data[0][\"key-no\"];\n//     var listKeyId= [] ;\n//     for(var item in list_Result)\n//     {\n//         if(list_Result[item][\"key-no\"] == keyValue){\n//             listKeyId.push(item);\n//         }\n//     }\n//     var newKey = Math.max.apply(Math, listKeyId);\n//     list_Result[newKey][\"result\"] = \"Picking completed\";\n//     list_Result[newKey][\"sequence-no\"] =  msg.payload.data[0][\"sequence-no\"];\n//     list_Result[newKey][\"time\"] = timeStemp.toString();\n\n//     //node.warn({\"key\":keyValue}); \n// }\n\n//node.warn({\"key\":list_Result[item][\"key-no\"]}); \n\nglobal.set(\"list_Result_Stowing\",list_Result_Stowing);\nmsg.payload = list_Result_Stowing;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":920,"wires":[["23e777b9.07bde8"]]},{"id":"5bed2a1e.7a36a4","type":"link out","z":"25e290b0.36562","name":"Send stowing exception","links":["2cd7b0c4.381a1"],"x":930,"y":980,"wires":[],"l":true},{"id":"680b859f.d7999c","type":"link in","z":"25e290b0.36562","name":"","links":["ee64754f.9bd958"],"x":55,"y":1040,"wires":[["86e8da66.666848"]]},{"id":"97f95f48.a7d8e","type":"link out","z":"25e290b0.36562","name":"","links":["615f2c81.4b4944"],"x":795,"y":1040,"wires":[]},{"id":"23e777b9.07bde8","type":"link out","z":"25e290b0.36562","name":"Send data log view","links":["68185db2.217a94"],"x":1250,"y":920,"wires":[],"l":true},{"id":"86e8da66.666848","type":"function","z":"25e290b0.36562","name":"Set url inbound","func":"msg.url = global.get(\"inbound\");\n\n//msg.url = \"http://10.116.41.70:5050/agv-web/v1.0/inbound\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1040,"wires":[["39a69555.ca72ea"]]},{"id":"de2000f6.81df1","type":"http in","z":"25e290b0.36562","name":"","url":"/send-stowing-order","method":"post","upload":true,"swaggerDoc":"","x":130,"y":1860,"wires":[["2106629f.a082de"]]},{"id":"b04691d1.6c879","type":"comment","z":"25e290b0.36562","name":"Insert stowing file","info":"","x":101,"y":1820,"wires":[]},{"id":"2106629f.a082de","type":"function","z":"25e290b0.36562","name":"Check Stowing Order List","func":"/******************************************************************************\n * @brief   Node add file type parameter \n * @return  The data file of picking order list\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.fileType = \"Stowing\";\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":1860,"wires":[["f9bbebcf.0e3bc8"]]},{"id":"68a72df4.6684f4","type":"json","z":"25e290b0.36562","name":"parser_json_stowinglist","property":"payload","action":"obj","pretty":false,"x":1310,"y":1560,"wires":[["f7947a33.cd5aa8"]]},{"id":"ee64754f.9bd958","type":"link out","z":"25e290b0.36562","name":"Send stowing order list","links":["5fc0cd1.10abc34","680b859f.d7999c"],"x":1900,"y":1540,"wires":[],"l":true},{"id":"9527e428.34d798","type":"http in","z":"25e290b0.36562","name":"Server: Stowing Result","url":"/v1.0/inbound-result","method":"post","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["8847c201.8709f","a6824bbd.755118"]]},{"id":"4018ca77.76b464","type":"http response","z":"25e290b0.36562","name":"Response","statusCode":"","headers":{},"x":1000,"y":220,"wires":[]},{"id":"6bad337d.b9420c","type":"comment","z":"25e290b0.36562","name":"SERVER: stowing result","info":"","x":130,"y":200,"wires":[]},{"id":"948be97e.e77f78","type":"function","z":"25e290b0.36562","name":"Function response","func":"/******************************************************************************\n * @brief   Node return picking result\n * @return  the picking result value\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nnode.warn({\"data outbound result\":msg.payload});\nvar isRunning = flow.get(\"running\");\n\nvar res_msg = {};\n\nif (isRunning)\n{\n    msg.statusCode = 200;\n    var response = {\"result\": \"ok\"};\n    msg.payload = response;\n\n} else {\n    msg.statusCode = 503;\n    var response = {};\n    msg.payload = undefined;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":240,"wires":[["4018ca77.76b464"]]},{"id":"1c4bc7c7.be7918","type":"link out","z":"25e290b0.36562","name":"","links":["68185db2.217a94"],"x":615,"y":280,"wires":[]},{"id":"8847c201.8709f","type":"function","z":"25e290b0.36562","name":"Function Update Stowing Complete","func":"/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nnode.warn({\"data-test\":msg.payload.data});\n\nif(!global.get(\"list_Result_Stowing\")){\n    var list_Result_Stowing = [];\n    global.set(\"list_Result_Stowing\",list_Result_Stowing);\n}\nelse{\n    list_Result_Stowing = global.get(\"list_Result_Stowing\");\n}\nlist_Result_Stowing = JSON.parse(JSON.stringify(list_Result_Stowing));\n/******************************************************************************\n * @brief   Get real time \n * @return  The time data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nvar currentdate = new Date();\nvar timeStemp = currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\n\n/******************************************************************************\n * @brief   Update result status when received \n * @return  The handled response data\n * @author  DuyTM\n * @date    2020/08/27  Create\n ******************************************************************************/\nif((msg.payload)){\n    var keyValue = msg.payload.data[0][\"key-no\"];\n    var listKeyId= [] ;\n    if(list_Result_Stowing.length >0 ){\n        for(var item in list_Result_Stowing)\n        {\n            if(list_Result_Stowing[item][\"key-no\"] == keyValue){\n                listKeyId.push(item);\n            }\n        }\n        node.warn({\"listKeyId\":listKeyId});\n        if(listKeyId.length >0){\n            var newKey = Math.max.apply(Math, listKeyId);\n            node.warn({\"index-key\":newKey});\n            list_Result_Stowing[newKey][\"result\"] = \"Stowing completed\";\n            list_Result_Stowing[newKey][\"sequence-no\"] =  msg.payload.data[0][\"sequence-no\"];\n            list_Result_Stowing[newKey][\"time\"] = timeStemp.toString();\n        }else{\n            list_Result_Stowing.push(\n             {\"time\": timeStemp.toString(),\n             \"key-no\": msg.payload.data[0][\"key-no\"],\n             \"sequence-no\": msg.payload.data[0][\"sequence-no\"],\n            //  \"tray-id\": responseData[key][\"hkat-shiji-no\"].toString(),\n             \"result\": \"Stowing completed\"\n        });\n        }\n    }\n   else{\n        node.warn({\"testData\":msg.payload.data});\n    //   for(var i in msg.payload.data ){\n        \n    //     list_Result.push(\n    //          {\"time\": timeStemp.toString(),\n    //          \"key-no\": i[\"key-no\"],\n    //          \"sequence-no\": i[\"sequence-no\"],\n    //         //  \"tray-id\": responseData[key][\"hkat-shiji-no\"].toString(),\n    //          \"result\": \"Stowing completed\"\n    //     });\n    //   }\n    \n    list_Result_Stowing.push(\n         {\"time\": timeStemp.toString(),\n         \"key-no\": msg.payload.data[0][\"key-no\"],\n         \"sequence-no\": msg.payload.data[0][\"sequence-no\"],\n        //  \"tray-id\": responseData[key][\"hkat-shiji-no\"].toString(),\n         \"result\": \"Stowing completed\"\n    });\n    }\n    \n}\n\n//  \"tray-id\": responseData[key][\"unit_uketuke_no\"].toString(),\n//node.warn({\"key\":list_Result[item][\"key-no\"]}); \nglobal.set(\"list_Result_Stowing\",list_Result_Stowing);\n\nmsg.payload = global.get(\"list_Result_Stowing\");\n\nnode.warn({\"data-list\":msg.payload});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":240,"wires":[["948be97e.e77f78","1c4bc7c7.be7918","6f21c5f6.ebf25c"]]},{"id":"6f21c5f6.ebf25c","type":"debug","z":"25e290b0.36562","name":"Data inbound","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":200,"wires":[]},{"id":"688f9c4.d692364","type":"http response","z":"25e290b0.36562","name":"","statusCode":"","headers":{},"x":590,"y":3760,"wires":[]},{"id":"552d2879.b31408","type":"function","z":"25e290b0.36562","name":"Handle ","func":"msg.payload = {\n\t\"data\":[\n\t\t{\n\t\t\t\"key-no\": \"KEY000000000001\",\n\t\t\t\"result\": \"ok\"\n\t\t}\n\t]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":3760,"wires":[["688f9c4.d692364"]]},{"id":"c4282f2f.57867","type":"http in","z":"25e290b0.36562","name":"Inbound server","url":"/agv-web/v1.0/inbound","method":"post","upload":true,"swaggerDoc":"","x":88,"y":3760,"wires":[["552d2879.b31408"]]},{"id":"c301c4a4.4614b8","type":"comment","z":"25e290b0.36562","name":"SET URL SETTING FILE INTO GLOBAL","info":"","x":1256,"y":40,"wires":[]},{"id":"b7c68762.271808","type":"inject","z":"25e290b0.36562","name":"Inbound object","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":[{\"key-no\":\"KEY000001000005\",\"sequence-no\":1,\"zk-kanri\":\"20075\",\"scan-barcode\":\"01040428095794681020075\",\"jiseki-quantity\":100,\"user-code\":\"12345\"}]}","payloadType":"json","x":120,"y":3900,"wires":[["b3e5ef8e.91461"]]},{"id":"b3e5ef8e.91461","type":"http request","z":"25e290b0.36562","name":"Inbound result","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/v1.0/inbound-result","tls":"","persist":true,"proxy":"","authType":"","x":324,"y":3900,"wires":[["6ac31ade.561cf4"]]},{"id":"6ac31ade.561cf4","type":"debug","z":"25e290b0.36562","name":"Result Inbound","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":544,"y":3900,"wires":[]},{"id":"d39eea15.9d48a8","type":"ui_button","z":"25e290b0.36562","name":"Picking List","group":"36f5cb06.ad8454","order":17,"width":"3","height":"1","passthru":false,"label":"Picking List","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"WMS0806_Table_Stowing_Order_List\",\"WMS0806_Table_Products\"],\"show\":[\"WMS0806_Table_Picking_Order_List\"],\"enabled\":[]}}","payloadType":"json","topic":"order_list","x":1450,"y":3020,"wires":[["6695ac69.927d04"]]},{"id":"8177e670.d31c58","type":"ui_button","z":"25e290b0.36562","name":"Products List","group":"36f5cb06.ad8454","order":19,"width":"3","height":"1","passthru":false,"label":"Products list","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"WMS0806_Table_Picking_Order_List\",\"WMS0806_Table_Stowing_Order_List\"],\"show\":[\"WMS0806_Table_Products\"],\"enabled\":[]}}","payloadType":"json","topic":"product_list","x":1450,"y":3320,"wires":[["6695ac69.927d04"]]},{"id":"6695ac69.927d04","type":"ui_ui_control","z":"25e290b0.36562","name":"UI control show table","x":1740,"y":3040,"wires":[[]]},{"id":"6606b304.630f2c","type":"ui_table","z":"25e290b0.36562","group":"f9442561.c97f68","name":"Table Products","order":2,"width":"35","height":"4","columns":[{"field":"time","title":"Time","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"jan-code","title":"Jan-code","width":"25%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"result","title":"Result","width":"15 %","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"errorCode","title":"Error code","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"error-message","title":"Error message","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1280,"y":2040,"wires":[]},{"id":"1f91c43e.e6243c","type":"inject","z":"25e290b0.36562","name":"Init table log","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"group\":{\"hide\":[\"WMS0806_Table_Stowing_Order_List\",\"WMS0806_Table_Products\"],\"show\":[\"WMS0806_Table_Picking_Order_List\"],\"enabled\":[]}}","payloadType":"json","x":1330,"y":2900,"wires":[["6695ac69.927d04"]]},{"id":"8679ee4.d94281","type":"comment","z":"25e290b0.36562","name":"Clear log table","info":"","x":210,"y":2058,"wires":[]},{"id":"faa465da.a9c588","type":"ui_button","z":"25e290b0.36562","name":"Clear product table","group":"f9442561.c97f68","order":3,"width":"3","height":1,"passthru":true,"label":"Clear Log Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Do you want to delete data ?","payloadType":"str","topic":"Clear product table","x":230,"y":2098,"wires":[["1e07dd05.b315f3"]]},{"id":"afccf6ba.6f1cb8","type":"inject","z":"25e290b0.36562","name":"Init order list button","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1130,"y":3020,"wires":[["d39eea15.9d48a8"]]},{"id":"32ca98d0.1177c8","type":"inject","z":"25e290b0.36562","name":"Init product list button","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1140,"y":3320,"wires":[["8177e670.d31c58"]]},{"id":"c5b158b1.a93f38","type":"function","z":"25e290b0.36562","name":"Enable/Disable button","func":"if (msg.topic === \"order_list\") {\n    flow.set(\"running\", true);\n} else if (msg.topic === \"product_list\") {\n    flow.set(\"running\", false);\n} else {\n    node.warn(\"Wrong payload message\");\n}\n\nlet enableMsg = {};\nenableMsg.enabled = !flow.get(\"running\");\nenableMsg.payload = '';\n\nlet disableMsg = {};\ndisableMsg.enabled = flow.get(\"running\");\ndisableMsg.payload = '';\n\nreturn [enableMsg, disableMsg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1740,"y":3200,"wires":[[],[]]},{"id":"6ba0b53a.4a7cdc","type":"debug","z":"25e290b0.36562","name":"file name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1660,"y":2680,"wires":[]},{"id":"ad107c06.567cb","type":"catch","z":"25e290b0.36562","name":"Catch data file invalid","scope":["4ed128c1.292d68","178b6433.48028c","68a72df4.6684f4"],"uncaught":false,"x":120,"y":2840,"wires":[["9ff67eb2.edb37"]]},{"id":"9ff67eb2.edb37","type":"function","z":"25e290b0.36562","name":"Throw exception data invalid","func":"if(msg.error){\n    msg.payload = \"data_invalid\";\n}else{\n    \n    // node.warn({\"error\":\"Not error\"});\n}\n// msg.payload = msg.schemaErrorarray;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2840,"wires":[["9c31edc0.84354"]]},{"id":"175b3e4c.62f012","type":"inject","z":"25e290b0.36562","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":110,"y":3200,"wires":[["cb15926c.4fd56"]]},{"id":"c7b2b89e.77c5a8","type":"file in","z":"25e290b0.36562","name":"Read file from file path","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1200,"y":1880,"wires":[["fa1a63d1.3c12"]]},{"id":"d533c40b.df2168","type":"function","z":"25e290b0.36562","name":"Function file name","func":"//msg.filename = msg.payload.file;\nnode.warn({\"dataFile\":msg});\n\n//msg.filename = \"F:\\\\Download\\\\New folder\\\\OrderPicking.json\";\n\nmsg.filename = String(msg.payload.file);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":1880,"wires":[["c7b2b89e.77c5a8"]]},{"id":"fa1a63d1.3c12","type":"function","z":"25e290b0.36562","name":"Function check file","func":"if(msg.payload !== \"\"){\n    if(msg.fileType == \"Product\"){\n         return [msg,,,];\n    }\n    else if(msg.fileType == \"Picking\"){\n         return [,msg,,];\n    }\n    else if(msg.fileType == \"Stowing\"){\n         return [,,msg,];\n    }\n}else{\n    return [,,,msg];\n}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1470,"y":1860,"wires":[["8a7f39a2.b057c8"],["bdf38150.fc1dc"],["48acb6fe.f77f08"],["ff500fd5.30903"]]},{"id":"649f5c98.093a64","type":"catch","z":"25e290b0.36562","name":"Catch wrong file path","scope":["c7b2b89e.77c5a8"],"uncaught":false,"x":120,"y":2900,"wires":[["8ae92629.4dc338"]]},{"id":"8ae92629.4dc338","type":"function","z":"25e290b0.36562","name":"Throw exception wrong file path","func":"node.warn({\"datatest\":msg.payload});\nif(msg.error){\n    msg.payload = \"wrong_file_path\";\n}else{\n    \n    // node.warn({\"error\":\"Not error\"});\n}\n// msg.payload = msg.schemaErrorarray;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":2900,"wires":[["9c31edc0.84354"]]},{"id":"f7947a33.cd5aa8","type":"function","z":"25e290b0.36562","name":"Throw exception no data in file","func":"\nif(!msg.payload.data[0]){\n    node.warn({\"dddddd\":\"ddddd\"});\n    throw \"empty_file_content\";\n    return [msg,];\n}else{\n    if(msg.fileType == \"Product\"){\n        return [,msg,,];\n    }else if(msg.fileType == \"Picking\"){\n        return [,,msg,];\n    }else if(msg.fileType == \"Stowing\"){\n        return [,,,msg];\n    }else{\n        //do_something\n    }\n   \n}\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1630,"y":1480,"wires":[[],["4c652c5f.2aa3e4"],["85668717.d98e28"],["ee64754f.9bd958"]]},{"id":"4b0fea6d.9a01f4","type":"catch","z":"25e290b0.36562","name":"Catch no data in file","scope":["f7947a33.cd5aa8"],"uncaught":false,"x":110,"y":2960,"wires":[["aa478c2e.0e3cc"]]},{"id":"aa478c2e.0e3cc","type":"function","z":"25e290b0.36562","name":"Throw exception no data in file","func":"/******************************************************************************\n * @brief   Node throw exception when choose empty file\n * @return  The exception\n * @author  DuyTM\n * @date    2020/08/04  Create\n ******************************************************************************/\nmsg.payload = \"no_data_item\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":2960,"wires":[["9c31edc0.84354"]]},{"id":"d01a5e62.d476f","type":"function","z":"25e290b0.36562","name":"Handle Product Response Data","func":"\nnode.warn({\"data\":msg.payload.data[0][\"sequence-no\"]});\nvar list_Product_Result = [];\nif(!global.get(\"list_Product_Result\")){\n    global.set(\"list_Product_Result\",list_Product_Result);\n}\nelse{\n    list_Product_Result = global.get(\"list_Product_Result\");\n}\nlist_Product_Result = JSON.parse(JSON.stringify(list_Product_Result));\n\nvar currentdate = new Date();\nvar timeStemp = currentdate.getDay() + \"/\" + currentdate.getMonth() + \"/\" + currentdate.getFullYear() + \" \" +\ncurrentdate.getHours() + \":\" + currentdate.getMinutes() + \":\" + currentdate.getSeconds();\n\nvar responseData = msg.payload.data;\n\nif((msg.payload) ===\"\"){\n    list_Product_Result.push(timeStemp + `Received Data: empty`);\n}else{\n//   if((responseData[0][\"jan-code\"])){\n   for(var key in responseData){\n    if (responseData.hasOwnProperty(key)) {\n         list_Product_Result.push(\n             {\"time\": timeStemp.toString(),\n             \"jan-code\": responseData[key][\"jan-code\"],\n             \"result\": responseData[key][\"result\"],\n             \"errorCode\": responseData[key][\"errorCode\"],\n             \"error-message\": responseData[key][\"error-message\"]\n             });\n            }\n         }\n    // }else{\n    //     throw \"data_invalid\";\n    //     return msg;\n    // } \n}\n\nglobal.set(\"list_Product_Result\",list_Product_Result);\nmsg.payload = list_Product_Result;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":620,"wires":[["81d7b163.64469"]]},{"id":"cb4b3b62.625d28","type":"ui_toast","z":"25e290b0.36562","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Confirm clear data","x":570,"y":2320,"wires":[["f0a2b5d7.f717d8"]]},{"id":"f0a2b5d7.f717d8","type":"function","z":"25e290b0.36562","name":"Filter msg and clear data","func":"//only accept OK msg's\nif (msg.payload == 'OK') {\n    if (msg.topic == \"Clear product table\"){\n        msg.payload = [];\n        global.set(\"list_Product_Result\",[]);\n        return [msg,,,,];\n    }else if(msg.topic == \"Clear picking log table\"){\n        msg.payload = [];\n        global.set(\"list_Result\",[]);\n        return [,msg,,,];\n        \n    }else if(msg.topic == \"Clear log view\"){\n        msg.payload = [];\n        global.set(\"list_Ex_Result\",[]);\n        return [,,msg,,];    \n    }else if(msg.topic == \"Clear stowing table\"){\n        msg.payload = [];\n        global.set(\"list_Result_Stowing\",[]);\n        return [,,,msg,];\n    }else if(msg.topic == \"Clear log all view\"){\n        msg.payload = [];\n        global.set(\"listAllResult\",[]);\n        return [,,,,msg];\n    }\n}\nreturn null;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":790,"y":2210,"wires":[["6606b304.630f2c"],["463483e4.57ac5c"],["2ff1c229.4d459e"],["7b03b4db.e91e3c"],["6aba6029.e3cc2"]]},{"id":"c00613f8.1efb","type":"link in","z":"25e290b0.36562","name":"","links":["3bb2aa21.3d3086","81d7b163.64469"],"x":1155,"y":2000,"wires":[["6606b304.630f2c"]]},{"id":"81d7b163.64469","type":"link out","z":"25e290b0.36562","name":"","links":["c00613f8.1efb"],"x":1335,"y":620,"wires":[]},{"id":"1db8acb9.b4a513","type":"link in","z":"25e290b0.36562","name":"","links":["a8c46eb6.c39f2"],"x":55,"y":2220,"wires":[["a384cb7c.8437e8","faa465da.a9c588","182fea29.e59a36","2fa9ea71.237ec6","8f45d332.a5264"]]},{"id":"1e07dd05.b315f3","type":"function","z":"25e290b0.36562","name":"Check click","func":"if(msg.typeClick == 'start_stop'){\n    return [msg,];\n}\nreturn [,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":470,"y":2220,"wires":[["f0a2b5d7.f717d8"],["cb4b3b62.625d28"]]},{"id":"630132c2.19840c","type":"link in","z":"25e290b0.36562","name":"","links":["a8c46eb6.c39f2"],"x":1315,"y":2960,"wires":[["d39eea15.9d48a8"]]},{"id":"1b0eaccc.f5ec73","type":"link in","z":"25e290b0.36562","name":"","links":["a8c46eb6.c39f2"],"x":1335,"y":3280,"wires":[["8177e670.d31c58"]]},{"id":"a6824bbd.755118","type":"debug","z":"25e290b0.36562","name":"Inbound Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":200,"wires":[]},{"id":"6704378.f3858c8","type":"link out","z":"25e290b0.36562","name":"","links":["28dcef11.34925"],"x":875,"y":1740,"wires":[]},{"id":"28dcef11.34925","type":"link in","z":"25e290b0.36562","name":"","links":["6704378.f3858c8","48acb6fe.f77f08"],"x":1135,"y":1560,"wires":[["68a72df4.6684f4"]]},{"id":"9e092561.ad3388","type":"link out","z":"25e290b0.36562","name":"","links":["93ad380.d549ac8"],"x":875,"y":1640,"wires":[]},{"id":"93ad380.d549ac8","type":"link in","z":"25e290b0.36562","name":"","links":["9e092561.ad3388"],"x":1595,"y":2020,"wires":[["ff500fd5.30903"]]},{"id":"ce76dab2.bc5788","type":"link out","z":"25e290b0.36562","name":"","links":["90ca183.a6db3e8"],"x":875,"y":1540,"wires":[]},{"id":"90ca183.a6db3e8","type":"link in","z":"25e290b0.36562","name":"","links":["ce76dab2.bc5788","8a7f39a2.b057c8"],"x":1135,"y":1420,"wires":[["4ed128c1.292d68"]]},{"id":"c4b3c517.67a6b8","type":"link out","z":"25e290b0.36562","name":"","links":["9fd1baa5.3d9ff8"],"x":875,"y":1600,"wires":[]},{"id":"9fd1baa5.3d9ff8","type":"link in","z":"25e290b0.36562","name":"","links":["c4b3c517.67a6b8","bdf38150.fc1dc"],"x":1135,"y":1480,"wires":[["178b6433.48028c"]]},{"id":"8a7f39a2.b057c8","type":"link out","z":"25e290b0.36562","name":"","links":["90ca183.a6db3e8"],"x":1655,"y":1760,"wires":[]},{"id":"bdf38150.fc1dc","type":"link out","z":"25e290b0.36562","name":"","links":["9fd1baa5.3d9ff8"],"x":1655,"y":1840,"wires":[]},{"id":"48acb6fe.f77f08","type":"link out","z":"25e290b0.36562","name":"","links":["28dcef11.34925"],"x":1655,"y":1900,"wires":[]},{"id":"dec6c257.5457c","type":"comment","z":"25e290b0.36562","name":"Table products","info":"","x":1280,"y":2000,"wires":[]},{"id":"4d8917b8.78c718","type":"comment","z":"25e290b0.36562","name":"Table picking order view","info":"","x":1300,"y":2081,"wires":[]},{"id":"e5148cec.d10ce","type":"comment","z":"25e290b0.36562","name":"Exception view","info":"","x":1280,"y":2180,"wires":[]},{"id":"381d6d21.c926a2","type":"comment","z":"25e290b0.36562","name":"Mockup server","info":"","x":100,"y":3860,"wires":[]},{"id":"18cf818c.734e0e","type":"comment","z":"25e290b0.36562","name":"Start/ Stop WMS","info":"","x":140,"y":3100,"wires":[]},{"id":"82051146.2dd5f","type":"comment","z":"25e290b0.36562","name":"Multiple tab","info":"","x":1110,"y":2980,"wires":[]},{"id":"94b4be1d.68126","type":"comment","z":"25e290b0.36562","name":"Call url to send data","info":"","x":650,"y":1560,"wires":[]},{"id":"7b03b4db.e91e3c","type":"ui_table","z":"25e290b0.36562","group":"18facce9.70b353","name":"Table Stowing Order View","order":2,"width":"35","height":"4","columns":[{"field":"time","title":"Time","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"key-no","title":"Key-no","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"sequence-no","title":"Sequence-no","width":"20%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"result","title":"Result","width":"15%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"errorCode","title":"Error code","width":"15 %","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"error-message","title":"Error message","width":"15 %","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1310,"y":2300,"wires":[]},{"id":"cbdf7849.042b18","type":"comment","z":"25e290b0.36562","name":"Table stowing order view","info":"","x":1310,"y":2261,"wires":[]},{"id":"68185db2.217a94","type":"link in","z":"25e290b0.36562","name":"","links":["23e777b9.07bde8","1c4bc7c7.be7918"],"x":1155,"y":2260,"wires":[["7b03b4db.e91e3c"]]},{"id":"7e47b3bb.8347bc","type":"comment","z":"25e290b0.36562","name":"Clear log table","info":"","x":210,"y":1960,"wires":[]},{"id":"8f45d332.a5264","type":"ui_button","z":"25e290b0.36562","name":"Clear stowing table","group":"18facce9.70b353","order":3,"width":"3","height":1,"passthru":true,"label":"Clear Stowing Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Do you want to delete data ?","payloadType":"str","topic":"Clear stowing table","x":230,"y":2000,"wires":[["1e07dd05.b315f3"]]},{"id":"7358d905.422978","type":"ui_button","z":"25e290b0.36562","name":"Stowing List","group":"36f5cb06.ad8454","order":18,"width":"3","height":"1","passthru":false,"label":"Stowing List","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\":{\"hide\":[\"WMS0806_Table_Picking_Order_List\",\"WMS0806_Table_Products\"],\"show\":[\"WMS0806_Table_Stowing_Order_List\"],\"enabled\":[]}}","payloadType":"json","topic":"product_list","x":1450,"y":3180,"wires":[["6695ac69.927d04"]]},{"id":"70589119.1b71e","type":"inject","z":"25e290b0.36562","name":"Init order list button","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1130,"y":3180,"wires":[["7358d905.422978"]]},{"id":"da869fb3.3325c","type":"comment","z":"25e290b0.36562","name":"Multiple tab","info":"","x":1110,"y":3140,"wires":[]},{"id":"6e1f078a.1499e8","type":"link in","z":"25e290b0.36562","name":"","links":["a8c46eb6.c39f2"],"x":1335,"y":3140,"wires":[["7358d905.422978"]]},{"id":"bfb5293c.d4d2d8","type":"http proxy","z":"","name":"","url":"http://proxy.tsdv.com.vn:3128","noproxy":["10.116.41.139"]},{"id":"c75b2921.4f4ba8","type":"ui_group","z":"","name":"Main","tab":"624bb15c.9226","order":2,"disp":true,"width":"11","collapse":false},{"id":"4b0d0774.bd6f08","type":"ui_group","z":"","name":"Exception","tab":"624bb15c.9226","order":3,"disp":true,"width":"11","collapse":false},{"id":"d508095.aaa41f8","type":"ui_group","z":"","name":"Table Picking Order List","tab":"624bb15c.9226","order":6,"disp":true,"width":"35","collapse":false},{"id":"cb57077b.866e38","type":"ui_group","z":"","name":"Log All","tab":"624bb15c.9226","order":4,"disp":true,"width":"13","collapse":false},{"id":"7f50ab73.2f4ea4","type":"ui_group","z":"","name":"Controlling Buttons","tab":"624bb15c.9226","order":1,"disp":false,"width":"35","collapse":false},{"id":"36f5cb06.ad8454","type":"ui_group","z":"","name":"Menu","tab":"624bb15c.9226","order":5,"disp":false,"width":"35","collapse":false},{"id":"f9442561.c97f68","type":"ui_group","z":"","name":"Table Products","tab":"624bb15c.9226","order":7,"disp":true,"width":"35","collapse":false},{"id":"18facce9.70b353","type":"ui_group","z":"","name":"Table Stowing Order List","tab":"624bb15c.9226","order":7,"disp":true,"width":"35","collapse":false},{"id":"624bb15c.9226","type":"ui_tab","z":"","name":"WMS0806","icon":"","order":11,"disabled":false,"hidden":false}]